<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poem</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/card.css">
</head>

<body>
    <div class="card__positioner">
        <%- include('./partials/card'); %>
    </div>

    <script>
        const color_encoded = '<%= color %>';
        const poem_encoded = '<%= poem %>';
    </script>
    <script type="module" src="/js/index.js" defer></script>
</body>

</html>