@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.card__wrapper {
	aspect-ratio: 4 / 6;
	width: 1200px;
}

.card__container {
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url('../assets/grunge_texture.jpg');
	background-size: 200% 200%;
	background-blend-mode: multiply;
}

.poem__container { 
	display: flex;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	aspect-ratio: 1 / 1;
	width: 80%;
	margin: auto;
	padding: 60px;
	text-align: center;
	align-items: center;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 50%;
	box-shadow: 0 24px 24px rgba(0, 0, 0, 0.2);
}

.poem__inner {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

.poem__inner span {
	max-height: 70%;
	overflow: hidden;
	font-family: 'Playfair Display', serif;
	font-size: 3rem;
	font-weight: 600;
	line-height: 1.6;
	text-align: center;
	color: #333;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}

.title__container {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 360px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

.title__logo {
	flex: 1;
	width: 180px;
	margin-right: 165px;
	display: flex;
	box-sizing: border-box;
	align-self: flex-end;
}

.title__text {
	flex: 2;
	display: flex;
	justify-content: center;
	margin: 0 auto 45px auto;
	text-transform: uppercase;
	text-shadow: #333 3px 0 5px;
	font-size: 192px;
	font-weight: 600;
	letter-spacing: 30px;
	line-height: 192px;
}

.title__text span {
	font-size: 210px;
	font-weight: bold;
}

.color__container {
	width: 100%;
	height: 20%;
	padding: 120px 30px 30px 30px;
	box-sizing: border-box;
	text-align: center;
}

.color__name span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 90px;
}

.color__hex span {
	white-space: nowrap;
	overflow: hidden;
	text-transform: uppercase;
	text-overflow: ellipsis;
	font-weight: bold;
	font-size: 2.25rem;
	opacity: 0.7;
}